<?xml version="1.0" encoding="utf-8"?>
<module productName="Aprimo integration for EPiServer" loadFromBin="false" clientResourceRelativePath="1.0.0" viewEngine="Razor" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="Aprimo.Epi.Extensions" />
  </assemblies>
   <routes>
    <route url="{moduleArea}/{controller}/{action}/">
      <defaults>
        <add key="moduleArea" value="Aprimo.Epi.Extensions" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>
  <dojo>
    <paths>
      <add name="aprimodamscripts" path="ClientResources" />
    </paths>
  </dojo>
  <clientModule initializer="aprimodamscripts.AssetFileDropped">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>