<html>
<head>
    <style>
        body {
            margin: auto;
            max-width: 300px;
            height: 100%
        }

        label {
            display: block;
        }

        input {
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>New User</h1>
    <form method="post">
        <label>
            Email:<br />
            <input name="email" />
        </label>
        <br />
        <label>
            Username:<br />
            <input name="username" />
        </label>
        <br />
        <label>
            Password:<br />
            <input name="password" type="password" />
        </label>
        <br />
        <input type="submit" />
    </form>
</body>
</html>